body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  color: #000000;

}

header{
  width: 100%;
  background: #ffffff;
  height: 60px;
  position: fixed;
  z-index: 1;

}

#main-header-text{
  padding-left: 100px;
  padding-top: 15px;
  font-family: "Century Gothic";
}

#enter{
  float: right;
  margin-right: 40px;
  font-size: 10px;
}

#profile{
  float: right;
  margin-right: 40px;

}

#fav{
  float: right;
  margin-right: 40px;
}

a{
  text-decoration: none;
  font-family: "Century Gothic";
  font-size: 15px;
}

.imageBack{
  top: 0px;
  position: relative;
}

#textBack{
  top: 230px;
  left: 540px;
  position: absolute;
  color: white;
  font-size: 90px;
}
