body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-image: url(img/back.jpg);
}

a { text-decoration: none; color: navy; }
a:hover { text-decoration: underline; }

#header_style{
    width: 100%;    
    height: 40px;    
    background-color: #dde0e1; 
    margin-bottom: 0px;
    margin-top: -26px;
    margin-left: -7px;    
}